{{!-- <main class="px-5 me-5 ms-5 flex-shrink-0">
  <div class="container pt-5"></div>
  <h1>INTERVIEW</h1>
  <h3 class='mt-5'>Что такое профориентация</h3>
  <p class="lead">Профориентация — это знакомство с миром профессий, цель которого — выбрать одну из них. И чем
    больше
    информации о
    специальностях у вас есть, тем проще её проанализировать и найти подходящую.</p>
  <p class="lead"> И это очень важный этап. Ошибки могут стоить дорого — и буквально, потому что высшее образование не
    всегда
    бесплатное, и образно говоря, ведь переучиваться в старшем возрасте не так легко. </p>
  <h3 class='mt-5'>Суть профориентации</h3>
  <p class="lead">Как правило, впервые таким поиском мы занимаемся накануне окончания школы. В идеале в этом выпускникам
    помогают
    сами школы: они организуют встречи с представителями разных профессий, проводят классные часы и тестирования. Все
    это должно помочь выпускникам разобраться в своих склонностях и узнать, где их можно применить.</p>
  <p class="lead">Чтобы этот этап профориентации работал как надо, в него, конечно, стоит включиться родителям.
    Представим, что в
    вашей жизни так и произошло. Что же дальше?</p>
  <p class="lead">А дальше профориентация выходит за рамки обязательных мероприятий и становится делом вашей инициативы.
    В вузе или
    колледже, например, вы будете проходить практику на производстве, но оставаться там работать или нет — ваш выбор.
  </p>
  <h3 class='mt-5'>Методики профориентации</h3>
  <p class="lead">
    Профориентация — это целая система, в которой задействовано очень много
    участников. И как всякая система, она имеет свои методы.</p>
  <ul>
    <li class="lead">Например, геймификация. Эту методику применяют в настольных играх, интерактивных занятиях. Суть в
      том, чтобы в
      процессе игры выяснить природные склонности и таланты человека, определить способ его мышления.</li>
    <li class="lead">Более традиционные методики — тестирование, опросы, консультирование. Их можно применять как в
      работе с
      конкретным человеком, так и для статистики. Например, чтобы выяснить, откуда выпускники конкретного класса узнают
      информацию о нужных вузах. </li>
    <li class="lead">Многие специалисты сейчас считают самым эффективным метод «погружения в
      профессию». Это
      когда ребёнок или студент работает над реальным проектом (иногда в команде) и добивается понятных ему результатов.
    </li>
  </ul>
  </p>
  <p class="lead">
    Карьерный каталог Interview предлагает вам познакомиться с профессиями из самых разных сфер - от самых
    распространённых таких, как экономист или юрист, до весьма экзотических, например, патологоанатом.
  <p>
  <p class="lead">
    Подписка на сайт даст Вам возможность смотреть видеоролики пользователей с реальными случаями из рабочей практики,
    предлагать свои решения, оставлять комментарии и добавлять в избранное, понравившиеся Вам материалы.
  </p>
  <p class="lead">
    <a href="/lk" class="btn btn-lg btn-secondary fw-bold border-white bg-success ">Перейти в личный кабинет</a>
  </p>
  </div>
</main> --}}

<div class="container" id="featured-3">
  <h1 class="pb-2">Добро пожаловать на Interview</h1>
  <p><h4 class="pb-2 border-bottom">Сервис для тех, кто хочет определиться</h4></p>
  <div class="row g-5 py-5">
    <div class="feature col-md-4">
      <div class="feature-icon text-center mb-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
          <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
        </svg>
      </div>
      <h2 class="pb-2 border-bottom">Профориентация - это...</h2>
      <p>...знакомство с миром профессий, цель которого — выбрать одну из них. </p>
      <a href="/prof" class="icon-link">
        Познакомиться с миром профессий
      </a>
    </div>
    <div class="feature col-md-4">
      <div class="feature-icon text-center mb-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
      </div>
      <h2 class="pb-2 border-bottom">Что дает Interview?</h2>
      <p>Карьерный каталог Interview предлагает вам познакомиться с профессиями из самых разных сфер - от самых
        распространённых таких, как экономист или юрист, до весьма экзотических, например, патологоанатом.</p>
      <a href="/lk" class="icon-link">
        Выбери свои интересы
      </a>
    </div>
    <div class="feature col-md-4">
      <div class="feature-icon text-center mb-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
        </svg>
      </div>
      <h2 class="pb-2 border-bottom">Interview premium</h2>
      <p>
        Стань участником программы Interview premium и получи доступ сотням реальных кейсов от реальных представителей своих профессий.
        Предлагай свои решения поставленных проблем и получай обратную связь от настоящих профессионалов.
      </p>
      <a href="/random" class="icon-link">
        Вперед к решению 
      </a>
    </div>
  </div>
</div>
