<main class="px-5 me-5 ms-5 flex-shrink-0">
  <div class="container pt-5"></div>
  <h1>INTERVIEW</h1>
  <h3 class='mt-5'>Что такое профориентация</h3>
  <p class="lead">Профориентация — это знакомство с миром профессий, цель которого — выбрать одну из них. И чем
    больше
    информации о
    специальностях у вас есть, тем проще её проанализировать и найти подходящую.</p>
  <p class="lead"> И это очень важный этап. Ошибки могут стоить дорого — и буквально, потому что высшее образование не
    всегда
    бесплатное, и образно говоря, ведь переучиваться в старшем возрасте не так легко. </p>
  <h3 class='mt-5'>Суть профориентации</h3>
  <p class="lead">Как правило, впервые таким поиском мы занимаемся накануне окончания школы. В идеале в этом выпускникам
    помогают
    сами школы: они организуют встречи с представителями разных профессий, проводят классные часы и тестирования. Все
    это должно помочь выпускникам разобраться в своих склонностях и узнать, где их можно применить.</p>
  <p class="lead">Чтобы этот этап профориентации работал как надо, в него, конечно, стоит включиться родителям.
    Представим, что в
    вашей жизни так и произошло. Что же дальше?</p>
  <p class="lead">А дальше профориентация выходит за рамки обязательных мероприятий и становится делом вашей инициативы.
    В вузе или
    колледже, например, вы будете проходить практику на производстве, но оставаться там работать или нет — ваш выбор.
  </p>
  <h3 class='mt-5'>Методики профориентации</h3>
  <p class="lead">
    Профориентация — это целая система, в которой задействовано очень много
    участников. И как всякая система, она имеет свои методы.</p>
  <ul>
    <li class="lead">Например, геймификация. Эту методику применяют в настольных играх, интерактивных занятиях. Суть в
      том, чтобы в
      процессе игры выяснить природные склонности и таланты человека, определить способ его мышления.</li>
    <li class="lead">Более традиционные методики — тестирование, опросы, консультирование. Их можно применять как в
      работе с
      конкретным человеком, так и для статистики. Например, чтобы выяснить, откуда выпускники конкретного класса узнают
      информацию о нужных вузах. </li>
    <li class="lead">Многие специалисты сейчас считают самым эффективным метод «погружения в
      профессию». Это
      когда ребёнок или студент работает над реальным проектом (иногда в команде) и добивается понятных ему результатов.
    </li>
  </ul>
  </p>
  <p class="lead">
    Карьерный каталог Interview предлагает вам познакомиться с профессиями из самых разных сфер - от самых
    распространённых таких, как экономист или юрист, до весьма экзотических, например, патологоанатом.
  <p>
  <p class="lead">
    Подписка на сайт даст Вам возможность смотреть видеоролики пользователей с реальными случаями из рабочей практики,
    предлагать свои решения, оставлять комментарии и добавлять в избранное, понравившиеся Вам материалы.
  </p>
  <p class="lead">
    <a href="/lk" class="btn btn-lg btn-secondary fw-bold border-white bg-success ">Перейти в личный кабинет</a>
  </p>
  </div>
</main>
