<main class="flex-shrink-0">
  <div class="container pt-5">
    <h2 class="mb-5">{{theCase.caseTitle}}</h2>
    <iframe style="width: 100%; height: 500px" class="mb-3" src="{{theCase.caseVideo}}"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="lead">{{theCase.caseScript}}</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Примерьте на себя роль эксперта и решите поставленную задачу"></textarea>
    <button class="btnCase btn-sm btn-outline-secondaryCase mt-4">решить кейс и спросить эксперта</button>
    <button class="btnCase btn-sm btn-outline-secondaryCase ms-2">посмотреть решение</button>
  </div>
</main>
